.grid-game-over
{
    font-size: 2rem;

    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    padding: 25% 5%;

    color: white;
    border-radius: 5px;
    background: rgba(0, 0, 0, .75);
}

.grid-game-over h2
{
    font-size: 3.5rem;
}

.grid-game-over h2,
.grid-game-over p
{
    margin-bottom: 25px;
}

.grid-game-over span
{
    font-size: 1.4rem;

    margin: 0 15px;
}

.grid-game-over .mailchimp
{
    font-size: 1.3rem;
}

.grid-game-over a
{
    color: white;
}
