.grid-cell,
.grid-generator
{
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 5rem;

    display: inline-block;

    width: 6rem;
    height: 6rem;
    margin: .5rem;
    padding: .5rem;

    cursor: pointer;
    user-select: none;
    vertical-align: middle;

    color: #193441;
    border-radius: 5px;
    background: #eef9d7;
}

.grid-cell
{
    box-shadow: #193441 1px 1px 1px;
}

.grid-cell:hover
{
    background: #fffcd8;
}

.grid-generator,
.grid-generator:hover
{
    cursor: default;

    color: white;
    background: #193441;
}
